.main{
    display: flex;
    flex-direction: column;
    align-items: center
}

.listContainer {
    display: flex;
    gap: 10px;
}
.indexContainer{
    display: flex;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input{
    width: 200px;
}
.button{
    width: 340px;
}
.circles{
    margin-top: 115px;
    display: flex;
    gap: 25px;
}
.circle{
    display: flex;
    align-items: center;
    gap: 25px;
}

.circle.svg:last-child{
    display: none;
}
.add{
    position: absolute;
    bottom: 110px;
    left: 12px;
}

.delete{
    position: absolute;
    top: 115px;
    left: 12px;

}
.container{
position: relative;
}