.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 179px;
}
.radio{
    display: flex;
    margin-right: 50px;
    width: 24px;
}
.sortButton{
    display: flex;
    margin-right: 20px;
}
.radioItem{
    margin-right: 20px;
}
.button{
    margin-right: 20px;
}
.form{
    display: contents;
}
.columns{
    display: flex;
    justify-content: center;
    margin-top: 82px;
    align-items: flex-end;
    width: min-content;
    margin-right: auto;
    margin-left: auto;
    gap: 14px
}